<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update User</title>
    <Link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="topnav">
        <a class="active" href="/">Home</a>
        <a href="/">Create User</a>
    </div>
    <div class="form-container">
        <h2>Update User</h2>

        <form action="/update-user/<%= user.id %>" method="POST">

            <div class="form-group" style="display: none;">
                <label for="id">id</label>
                <input type="email" value="<%= user.id %>" id="id" name="id" required disabled>
            </div>
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" value="<%= user.email %>" id="email" name="email" required>
            </div>

            <div class="form-group">
                <label for="name">Họ và Tên:</label>
                <input type="text" value="<%= user.name %>" id="name" name="myname" required>
            </div>

            <div class="form-group">
                <label for="city">Thành phố:</label>
                <input type="text" value="<%= user.city %>" id="city" name="city">
            </div>

            <button type="submit" class="submit-btn">Cập nhật người dùng</button>

        </form>
    </div>
</body>

</html>